/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

html, body {
    margin:0;
    padding:0;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ================================================================================= */

/* ===================================================================================================================================================
                                                                General proprieties
======================================================================================================================================================
                                                                For Index principaly
==================================================================================================================================================== */                                                                                                                                    


* {
    color:#777777;
    text-decoration:none;
    list-style:none;
    line-height:1.7em;
}


/* ===========================================================  HEADER ================================================================= */


header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    height:20vh;
    width:100%;
    background-color:lightgrey;
}



                        /* ============================== Middle-header ================================ */


.img_archi_header {
    height:18vh;
    width:30vh;
}


                        /* ============================== Right-top-header =============================== */


.right_top_header {
    display:flex;
    flex-direction:row;
}

.logo_header {
    width:8vh;
    height:8vh;
}

.icon_header {
    padding-top:2vh;
    width:40px;
    height:40px;
}

.shop, .basket {
    margin-left:3vh;
    width:16vh;
    text-align:center;
}

.basket {
    background-color:#777;
}

.basket p {
    color:#444;
}

.Welcome_lang, .left_top_header {
    font-size:0.8em;
}

.Welcome_lang a {
    margin-right:2vh;
}

.Welcome_lang a:hover {
    color:black;
    opacity:0.8;
}


/* =============================================================== Main Block ================================================================ */

.Product_block {
    display:flex;
    flex-direction:row;
    text-align:center;
    font-size:0.85em;
}


                 /* ======================================== Left-content/article ========================================== */


.article {
    display:flex;
    text-align:left;
    flex-direction:column;
}

#article_title {
    text-align:center;
    color:black;
    background-color:lightgrey;
    border-radius:2px;
}

#article_title:hover {
    background-color:grey;
}

#article_desc {
    margin:2vh 0 2vh 0;
    color:black;
    font-size:4vh;
}

#article_desc:hover {
    color:grey;
}

#discover_input {
    text-align:center;
    border-radius:2px;
    color:white;
    background-color:grey;
    width:20vh;
}

#discover_input:hover {
    background-color:black;
}


                            /* ===================================== First list products ================================== */


.Product_block {
    margin-right:4.5vh;
    flex-wrap:wrap;
}

.product {
    margin-left:4vh;
    height:25vh;
    width:25vh;
    min-width:0vh;
}

.product img {
    width:30vh;
}

.border_items p {
    border-bottom:1px solid black;
    border-radius:1px;
}

.Product_block p {
    margin-left:2vh;
}

.Second_block {
    display:none;
}


/* ========================================================= Footer ====================================================================== */


.first_foot {
    margin:auto;
    width:99%;
    border-top:1px solid grey;
    font-size:0.9em;
}


                        /* ============================ Column text foot ================================== */ 


.intro_first_foot {
    width:100%;
    text-align:center;
}

.intro_first_foot p {
    text-align:justify;
}

.left_column_first_foot, .middle_column_first_foot, .right_column_first_foot {
    margin-left:auto;
}

.first_foot a {
    color:black;
}


                            /* ================================ Img footer ================================= */


.bottom_first_foot {
    margin-top:5vh;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    justify-content:space-around;
    width:100%;
    opacity:0.7;
}

.bottom_first_foot img {
    height:15vh;
    width:15vh;
    margin-left:3.4vh;
}

.bottom_first_foot p {
    text-align:center;
    word-wrap:break-word;
}


/* ========================================================= Second footer ================================================================= */


.second_foot {
    background-color:lightgrey;
}

.second_foot p, .second_foot li {
    font-size:0.8em;}

.second_foot li {
    margin-left:-4vh;
}


                            /* ================================== ArchiDuchesse img =============================== */


.first_column_second_foot img {
    height:20vh;
    width:40vh;
}

textarea {
    height:3.5vh;
}


                            /* ==================================== Media icons ===================================== */


.icons img {
    margin-top:3vh;
    height:7vh;
    width:7vh;
}

/* ====================================================================================================================================================
                                                                    For Blog page
==================================================================================================================================================== */

.blog_block {
    width:96%;
    margin:auto;
}

.news {
    display:flex;
    flex-direction:column;
}

.select_list {
    display:none;
}

.head_news h3 {
    margin-top:-1vh;
}

#Nbr_commentary:hover {
    text-decoration:underline;
    color:lightgrey;
}

.copyright {
    margin-top:-4vh;
    font-size:0.65em;
}

.rubrique {
    font-size:0.7em;
    border-radius:4px;
    background-color:lightgrey;
}


.news p {
    font-size:0.8em;
}

.Quote {
    display:inline-block;
    width:100%;
    text-align:center;
    margin:3vh 0 3vh 0;
    color:black;
    font-size:1.8em;
    font-style:italic;
    font-weight:bold;
}

.important {
    font-weight:bold;
}

.news img {
    height:60vh;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* ====================================================================================================================================================
=======================================================================================================================================================
                                                                    QUERIES !!!!!!!!!!!
=======================================================================================================================================================
==================================================================================================================================================== */                                                                    



/* ====================================================================================================================================================
                                                                MEDIA CELLPHONE
===================================================================================================================================================== */                                                            
@media all and (max-width:980px) {

    header {
        background-color:white;
    }

    .left_top_header, .Welcome_lang, .shop, nav, .article img {
        display:none;
    }

    .hidden {
        display:block;
    }

    .img_archi_header {
        margin-left:-12vh;
    }

    .hidden img {
        height:6vh;
        width:6vh;
    }

    .first_block {
        display:flex;
        flex-direction:column;
    }

    .product {
        margin:auto;
        margin-bottom:30vh;
    }

    .first_foot {
        display:block;
    }

    .first_foot h2, .first_foot p {
        text-align:left;
        margin:auto;
    }

    .first_foot h2 {
        margin-bottom:4vh;
    }

    .left_column_first_foot, .middle_column_first_foot, .right_column_first_foot {
        margin:auto;
        margin-top:5vh;
    }

    .bottom_first_foot {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }

    .second_foot {
        display:flex;
        flex-direction:column;
        margin:auto;   
    }

    .second_foot div {
        width:60%;
        margin:auto;
    }

    .icons {
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        margin:auto;
    }

    .hidden_li {
        display:none;
    }

    #article_title {
        margin-top:2vh;
        width:40vh;
        font-size:0.8em;
    }

    #discover_input {
        margin-bottom:2vh;
    }

    /* ================================================================================================================================================
                                                                Blog Modification
    ================================================================================================================================================ */
    
    .blog_second_foot {
        width:96%;
    }

    .blog_second_column_second_foot, .blog_third_column_second_foot, .blog_fourth_column_second_foot {
        display:none;
    }

    .hidden_blog {
        display:none;
    }                                                         
}

/* =================================================== Fix second_block issues with height ======================================================= */

@media all and (max-height:530px) {
    .Second_block {
        display:none;
    }
}

/* ====================================================================================================================================================
                                                                MEDIA DESKTOP                               
==================================================================================================================================================== */

@media all and (min-width:981px){
    .first_block {
        display:flex;
        flex-direction:row;
    }  

                            /* =============================== Left-top-header =============================== */

    .hidden {
        display:none;
    }   

    .left_top_header {
        margin-top:-0.5vh;
    }

    .left_top_header a {
        margin-left:2vh;
        color:#444;
    }

    .left_top_header a:hover {
        background-color:#777;
        border-radius:2px;
    } 

    /* ================================================================= NAV MENU ================================================================= */


    nav {
        height:6vh;
        width:98%;
        margin-left:1vh;
        margin-bottom:5vh;
        margin-top:2vh;
        border-bottom:0.8px solid grey;
    }

    nav a {
        font-style:italic;
        color:black;
        font-size:1.1em;
        margin-left:1.5vh;
    }

    nav a:hover {
        color:#777;
    }

    .article img {
    width:58vh;
    margin-bottom:4vh; 
    }

    .Second_block {  
    margin-top:14vh;
    height:45vh;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    }

    .first_foot {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    }

    .left_column_first_foot, .middle_column_first_foot, .right_column_first_foot {
    width:60vh;
    }

    .second_foot {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    }

    #article_title {
        width:29vh;
    }

    /* ================================================================================================================================================
                                                                    Blog Modification
    ================================================================================================================================================ */

    .blog_welcome {
        display:none;
    }

    .blog_block {
        display:flex;
        flex-direction:row;
        justify-content:space-around;
    }

    .news {
        width:60%;
    }

    .select_list {
        display:block;
        margin-bottom:5vh;
    }

    .title {
        font-weight:bold;
        color:black;
    }

    .subtitle {
        color:grey;
        font-style:italic;
        font-size:0.8em;
    }

    .select_list li {
        font-size:0.9em;
    }

    .Category {
        margin-bottom:5vh;
    }

    .header_select{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        margin-left:-10vh;
        margin-bottom:-5vh;
    }

    .Category ul {
        margin:auto;
        margin-left:-5vh;
    }    

    .category_img, .archive_img, .blogroll_img {
        height:10vh;
        width:10vh;
        background-repeat:no-repeat;
        align-content:left;
    }

    .category_img {
        background-image:url("../img/category.png");
    }

    .archive_img {
        background-image:url("../img/hourglass.png");
    }

    .blogroll_img {
        background-image:url("../img/heart.png");
    }
}




@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
